{
    "printWidth": 80,
    "semi": true,
    "trailingComma": "all",
    "singleQuote": false,
    "arrowParens": "always",
    "jsxBracketSameLine": false,
    "tabWidth": 4,
    "useTabs": false
}
