.mb-3 {
    margin-bottom: 1rem !important;
}

.text-center {
    text-align: center;
}

.p-0 {
    padding: 0 !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.mr-2 {
    margin-right: 0.5rem !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.text-dark {
    color: rgba(0, 0, 0, 0.85);
}
