.mb-3 {
    margin-bottom: 1rem !important;
}

.text-center {
    text-align: center;
}

.p-0 {
    padding: 0 !important;
}

.pt-3 {
    padding-top: 1rem !important;
}

.mx-5 {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}

.mr-2 {
    margin-right: 0.5rem !important;
}

.sr-only {
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.text-dark {
    color: rgba(0, 0, 0, 0.85);
}

.align-items-center {
    align-items: center !important;
}

.height-full {
    height: 100%;
}

.text-muted {
    color: #a2a2a2;
}

.ant-table--card .ant-pagination.ant-table-pagination {
    margin: 1rem;
}
